.Spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  margin: 0 auto;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.field {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  --columns: 16;
}

.field .item1,
.field .item2 {
  --gap-constant: 0.3%;
  --width: 16;
  --gap: calc(
    (var(--columns, 16) - var(--width, 0)) * var(--gap-constant, 0.3%)
  );
  --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
  flex-basis: calc(var(--initialbasis) - var(--gap));
}

@media (min-width: 768px) {
  .field {
    --columns: 11;
  }
  .field .item1 {
    --width: 3;
  }

  .field .item2 {
    --width: 8;
  }
}
